.container{
    width:100%;
    background-color: black;
    padding: 1rem;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container ul{
    list-style: none;
    display:flex;
    gap:5rem;
}

.container ul li{
    color:white;
}

.container ul li:hover{
    color:chartreuse;
    text-decoration: underline;
}